{{#if @visible}}
<div class="alert alert-secondary alert-dismissible" role="alert">
  {{yield}}
  {{#if @onDismiss}}
  <button
    {{on "click" @onDismiss}}
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close">
  </button>
  {{/if}}
</div>
{{/if}}
