{{#if this.rows.length}}
<h2 class="pt-3 h6">Mats needed</h2>
{{/if}}
<ul class="list-group pb-3">
  {{#each this.rows key="item.id" as |row|}}
  <MatsList::Row
    @item={{row.item}}
    @amount={{row.amount}}
  />
  {{/each}}
</ul>
